body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

h1 {
    font-size: 32px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}
/* Estilo para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para os rótulos */
label {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para os campos de entrada */
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
}

/* Estilo para o botão */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para o resultado e a indicação */
#result {
    margin-top: 20px;
    font-weight: bold;

}

#indicao {
    margin-top: 10px;
    color: red;
    width: 60%;
    margin: auto;
    text-align: center;
}

/* Estilo para o resultado */
#result h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: auto;
    margin-bottom: 10px;
}

#result p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilo para a temperatura */
#resultadoo {
    text-align: center;
    font-size: 30px;
    /*
    /* Azul, você pode alterar a cor conforme preferir */
}

#temperature {
    font-weight: bold;
    color: #007bff;
}